<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification" href="/notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notificações</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="search" href="/search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Pesquisa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exit" href="/exit">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
