div{
    text-align: justify;
}


swiper-slide {
  font-size: 18px;
  text-align: center;
  box-sizing: border-box;
  border-color: black;
  border: 1px;
  border-style: solid;
  width: 240px;
  height: 150px;
  margin-left: 12px;
}