<ion-header class="ion-no-border">
  <ion-searchbar/>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <carousel></carousel>
  <app-cards
    title="Fast-Food"
    subtitle="Para você que está sem tempo!"
    firstImg="https://static.itdg.com.br/images/640-400/49687a8a7a7110c7f560b9c7e96a9d0e/254679-shutterstock-364110890-1-.jpg"
    firstLabel="Hambúrguer Caseiro Simples"
    secondImg="https://static.itdg.com.br/images/1200-630/535cc599b45272dd1f4f02f339711e37/cachorro-quente-aprovadissimo.jpg"
    secondLabel="Cachorro Quente Aprovadíssimo"
    thirdImg="https://static.itdg.com.br/images/640-440/b0a2d7797c9b1174ec771c88d64d2322/324392-original.jpg"
    thirdLabel="Churros Caseiros"
  />
  <app-cards
    title="Fit-Food"
    subtitle="Para os que querem manter uma vida saudável" 
    firstImg="https://static.itdg.com.br/images/640-400/781dc3bfbce7e06ecb277c4658620117/335715-original.jpg"
    firstLabel="Filé de Peixe ao Leite de Coco"
    secondImg="https://static.itdg.com.br/images/640-400/188ced05d244d76055fd217ac0d3d1d5/strogonoff-vegetariano.jpg"
    secondLabel="Strogonoff Vegetariano"
    thirdImg="https://static.itdg.com.br/images/640-400/cceca6bb6e2845262bd59aab270c4239/shutterstock-590193029-1-.jpg"
    thirdLabel="Filé de Salmão ao Forno "
  />
  <app-cards
    title="Brasileira"
    subtitle="Aprenda a cozinhar com o melhor do nosso Brasil" 
    firstImg="https://static.itdg.com.br/images/640-400/6aa37c1c701e9e69f841e6834da2da87/shutterstock-1901961571-1-.jpg"
    firstLabel="Baião de Dois"
    secondImg="https://static.itdg.com.br/images/640-400/4183f4a52eadb0d86eed283e54e0020c/355811-original.jpg"
    secondLabel="Feijoada"
    thirdImg="https://static.itdg.com.br/images/640-400/0b924c4367ebe37222a5d01236361cb9/moqueca-de-peixe-.png"
    thirdLabel="Moqueca de Peixe"
  />
</ion-content>
